.card {
  border-radius: var(--radius-3);
  border: var(--border-size-1) solid var(--base-1);

  display: flex;
  position: relative;
  animation: dropIn 2s ease-out normal forwards;
  animation-delay: calc(var(--order) * 200ms);
  opacity: 0;
  transform: translateY(-20%);
}

@keyframes dropIn {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }
  50%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent);
  position: absolute;
  left: -6.5%;
}

@media screen and (max-width: 40em) {
  .card::before {
    display: none;
  }
}

.dates {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-top-left-radius: var(--radius-3);
  border-bottom-left-radius: var(--radius-3);

  background-color: var(--accent);
  flex-basis: 15%;
}

.dates time {
  font-weight: var(--font-weight-6);
  text-transform: uppercase;
  padding: var(--size-3);
  width: 100%;
  text-align: center;
  opacity: 0.8;
}

.details {
  padding-inline: var(--size-5);
  padding-block: var(--size-4);
  flex-basis: 85%;
}

@media (prefers-color-scheme: dark) {
  .details {
    --_details-text: var(--text-fg-5);
  }
}

.details h3 {
  font-weight: var(--font-weight-6);
}

.details p {
  color: var(--_details-text, --text-fg-2);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.divider {
  all: unset;
  width: 100%;
  height: 2px;
  background-color: var(--accent-2);
  outline: 0;
  margin: 0;
}

.live {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--red-6);
  background-color: #fff;
  border-radius: var(--radius-2);
  color: var(--red-6);
  position: absolute;
  right: -10px;
  top: -10px;
  padding: var(--size-1) var(--size-2);
}

.live > span {
  text-transform: uppercase;
  font-size: var(--font-size-0);
}

.dot {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--red-6);
}

.dot::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: inherit;
  background-color: var(--red-2);
  animation: ping 1s ease-in-out infinite both;
}

@keyframes ping {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0.8;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 0;
  }
}
