.feed {
  display: flex;
  flex-flow: column wrap;
  margin-block-end: var(--size-8);
  gap: var(--size-1);
}

.controls {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: inline-flex;
  align-items: center;
  gap: var(--size-2);
}
