.button {
  --_text-color: var(--gray-2);
  --_bg-color: var(--gray-10);
  --_bg-hover-color: var(--gray-9);
  --_border-color: var(--gray-11);

  display: inline-flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  min-height: 44px;

  color: var(--_text-color);
  background: var(--_bg-color);
  border: var(--border-size-1) solid var(--_border-color);
  border-radius: var(--radius-2);

  transition: background 400ms ease-out;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button-outline {
  --_bg-color: transparent;
  --_text-color: var(--base-10);
  --_bg-hover-color: var(--base-5);

  font-weight: 700;
}

.button-cutted {
  --outer-color: hsla(0, 0%, 0%, 0);
  --inner-color: hsl(0, 0%, 0%);
  --radius: 24px;

  mask-image: radial-gradient(
    ellipse 50px 50px at -18px center,
    var(--outer-color) var(--radius),
    var(--inner-color) 0
  );
  mask-composite: subtract;
}

@media (prefers-color-scheme: dark) {
  .button {
    --_border-color: var(--base-2);
  }
}

.button::before {
  --transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);

  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--_bg-hover-color);

  transform-origin: center;
  transform: var(--transform);
  transition: transform 500ms ease-in-out;
  will-change: transform;
}

.button svg {
  width: 24px;
  margin-inline-end: 0.8em;
}

.button:hover::before {
  --transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
