.card {
  display: flex;
  flex-flow: column wrap;
  border-radius: var(--radius-conditional-2);
  border: var(--border-size-1) solid var(--gray-1);
  box-shadow: var(--shadow-1);
}

.body {
  padding-inline: var(--size-5);
  padding-block: var(--size-4);
}

.body > p:not(.title) {
  color: var(--gray-7);
}

.title {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
  color: var(--gray-11);
}

.category {
  text-transform: uppercase;
  font-size: var(--font-size-0);
  letter-spacing: var(--font-letterspacing-2);
  color: var(--gray-6);
}

.details {
  display: flex;
  gap: var(--size-2);
  margin-block: var(--size-2);
  padding-inline: var(--size-4);
  padding-block: var(--size-2);
  background-color: var(--orange-1);
  border-radius: var(--radius-3);
  width: fit-content;
}

.details small {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-1);
  font-style: italic;
  max-width: 40ch;
}

.details small span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.details small svg {
  margin-inline-end: var(--size-1);
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  margin-block-start: var(--size-2);
}

.actions > * {
  flex: 1;
}

.actions :first-child {
  border-radius: 0 0 0 var(--radius-conditional-2);
}

.actions :last-child {
  border-radius: 0 0 var(--radius-conditional-2) 0;
}

.button,
.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-6);
  font-family: var(--font-mono);
  font-weight: var(--font-weight-7);
  padding: var(--size-2);
  border: 0;
  border-top: 1px solid var(--gray-2);
  background-color: transparent;
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.link {
  border-left: 1px solid var(--gray-2);
  text-decoration-line: none;
}

:is(.link, .button) svg {
  margin-inline-end: var(--size-2);
}

:is(.button, .link):hover {
  color: var(--violet-4);
}
